* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* ====hero section css starts==== */
.heroImg {
  width: 100%;
}
.heroImg img {
  width: 90%;
  object-position: center;
}
.heroText {
  width: 100%;
}

.fSize-60 {
  font-family: "Paytone One", sans-serif;
  font-size: 3em;
  font-weight: 700;
}
.portfolio-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid white;
}
.portfolio-image img {
  object-fit: cover;
  object-position: center;
}

@media (min-width: 992px) {
  .w-60 {
    width: 60%;
  }
  .w-60 img {
    width: 85%;
    object-position: right;
  }
  .w-40 {
    width: 40%;
  }
}
/* ===hero section css ends==== */
.topHeader {
  font-size: 42px;
  font-weight: 400;
  /* text-align: center; */
  font-family: "Paytone One", sans-serif;
}
.heroSection{
  padding-top: 125px;
}
.iconDiv {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.featureTextDiv {
  width: 80%;
}
.featureTextDiv h4 {
  font-size: "24px";
  font-weight: "400";
  font-family: "Paytone One", sans-serif;
}
.featureTextDiv p {
  font-size: "16px";
  font-weight: "400";
  font-family: "Inter", sans-serif;
  line-height: "18px";
  margin-top: "15px";
}

/* ==== feature section ends ===*/
.videoImage{
  width: 85%;
}
